.otpTitle {
    color: #0257a3;
  }
  
  .otpCard {
  
    text-align: center;
    flex: 1;
  }
  .otpVerification {
    width: 154px;
  height: 27px;
  margin: 0 199px 6px 220px;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #0257a3;
  }
  .msg{
    text-align: center; 
    font-size: 13px;
    font-weight:600;
     font-style: normal;
    line-height: 1.54; 
    letter-spacing: normal;
     color: #354463
  }
  .container {
    flex: 1;
    min-height: calc(100% - 80px);
  
    text-align: center;
    @media only screen and (max-width: 576px) {
      min-height: calc(100% - 56px);
      
    }
  }
 
  .btnVerify {
    height: 50px;
    font-size: 12px !important;
    font-weight: bold !important;
    letter-spacing: 0.6px;
  }
  .inactiveButton {
    background-color: #eff1f6 !important;
    color: #afb8bc !important;
  }
  .activeButton {
    background-color: #0369dd !important;
    color: white !important;
  }
  
  .resendLbl {
    color: #0257a3;
    font-weight: 600;
    margin-left: 2px;
  }
  
  .cursorPointer {
    cursor: pointer;
  }
  .otpResendLbl {
      display: flex;
      justify-content: center;
  }
  .inputOtp {
    input {
      width: 100%;
      border: 0;
      outline: 0;
      color: #0257a3;
      font-weight: 900;
      font-size: larger;
      text-align: center;
      border-bottom: 2px solid #d9dde6;
    }
    input:not(:placeholder-shown) {
      border-bottom: 2px solid #0369dd;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
  }
  
  
  .btnVerify {
    height: 50px;
    font-size: 12px !important;
    font-weight: bold !important;
    letter-spacing: 0.6px;
  }
  .inactiveButton {
    background-color: #eff1f6 !important;
    color: #afb8bc !important;
  }
  .activeButton {
    background-color: #0369dd !important;
    color: white !important;
  }
  .bold {
    font-weight: 600;
  }
  
  .mobileSubTitle {
    font-size: 12px;
  }
  
  .cursorPointer {
    cursor: pointer;
  }
  .inputOtp {
    input {
      width: 100%;
      border: 0;
      outline: 0;
      color: #0257a3;
      font-weight: 900;
      font-size: larger;
      text-align: center;
      border-bottom: 2px solid #d9dde6;
    }
    input:not(:placeholder-shown) {
      border-bottom: 2px solid #0369dd;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
  }
  .errorAlertStyle {
    background-color: #ffd1d1;
    border-radius: 4px;
    color: #e21e1e;
  }
  .borderButton:focus {
    outline: none;
  }
  
  .backIconPos {
    cursor: pointer;
 
  }
  
  .parent {
    height: 60%;
    width: 50%;
    .submitCard {
      height: 100%;
      padding: 2rem 4rem;
      text-align: center;
  
      .title {
        text-align: center !important;
        font-size: 18px !important;
        font-weight: 600 !important;
      }
  
      .labelStyle {
        width: 250px;
        text-align: left !important;
        font-size: 14px !important;
        color: #354463;
      }
  
      .subTitle {
        font-weight: 600 !important ;
      }
  
      .passwordLabel {
        font-weight: normal !important;
        color: #117af5;
        cursor: pointer;
      }
  
      .contactLabel {
        font-size: 12px !important;
        color: #6e7a93;
      }
  
      .btnVerify {
        height: 50px;
        font-size: 12px !important;
        font-weight: bold !important;
        letter-spacing: 0.6px;
      }
      .bold {
        font-weight: 600;
      }
      .cursorPointer {
        cursor: pointer;
      }
      .inputOtp {
        input {
          width: 50%;
          border: 0;
          outline: 0;
          border-bottom: 2px solid #0369dd;
        }
      }
  
      .backIconPos {
        position: absolute;
        margin-left: -2rem;
        margin-top: 0.25rem;
      }
  
      .btnStyle {
        width: 180px;
      }
  
      .submitBox {
     
        border-top: solid 1.5px #cddae0;
      }
  
      .imageStyle {
        vertical-align: baseline;
      }
  
      .kycDone {
        color: #00b27f;
        font-size: 14px;
        font-weight: 600;
      }
  
      .kycPending {
        color: #fa7628;
        font-size: 14px;
        font-weight: 600;
      }
  
      .kycNotUploaded {
        color: #fd3c4b;
        font-size: 14px;
        font-weight: 600;
      }
  
      .title {
        text-align: "center";
        font-size: 1.3rem !important;
        font-weight: 600 !important;
      }
      .btnDialog {
        height: 40px;
        width: 180px;
        font-size: 12px !important;
        font-weight: bold !important;
        letter-spacing: 0.6px;
      }
  
      .subLabel {
        font-weight: 600 !important;
        font-size: 16px;
        color: #354463;
      }
  
      .spanLabel {
        color: #354463;
        font-size: 16px;
        font-weight: bold 700 !important;
      }
  
      .subSpanLabel {
        color: #6e7a93;
        font-size: 16px;
      }
  
      .btnLarge {
        width: 50%;
        height: 50px;
        margin: 60px 0 20px 0;
        font-weight: 600;
      }
  
      .bottomLabel {
        font-size: 12px;
        font-weight: normal;
      }
      .cursorPointer {
        cursor: pointer;
      }
      .inputOtp {
        input {
          width: 50%;
          border: 0;
          outline: 0;
          border-bottom: 2px solid #0369dd;
        }
      }
  
      .closeIcon {
        cursor: pointer;
      }
    }
  }
  
  .alertStyle {
    
    color: #008e65;
 
    .alertBackground {
      background-color: #a5efd9;
      color: #008e65;
    }
    .alertTitle {
      color: #008e65;
     
    }
    .alertMobileTitle {
      font-size: 9px;
      color: #008e65;
    }
  }
  
  .confirmationContainer {
    color: #6e7a93;
    .title {
      @media (max-width: 600px) {
        font-size: 14px;
      }
    }
    .customerDetails {
      font-size: 14px;
      font-weight: 600;
      @media (max-width: 600px) {
        font-size: 12px;
      }
    }
    .customerDetailsValue {
      font-size: 16px;
      @media (max-width: 600px) {
        font-size: 14px;
      }
      .customerDetailsLabel {
        font-weight: 600;
      }
    }
  }
  
  .otpImage {
    height: 220px;
    @media (max-width: 600px) {
      height: 160px;
    }
  }
  .noOpacity {
    opacity: 0;
  }
  
  .modalTitle {
    color: #0257a3;
  }
  