.App {
  // text-align: center;
  height: 100vh;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.appContainer {
  min-height: calc(100% - 80px);
  // min-height: -moz-calc(100% - 80px);
  // min-height: -webkit-calc(100% - 80px);
  @media only screen and (max-width: 576px) {
    min-height: calc(100% - 56px);
    // height: -moz-calc(100% - 56px);
    // height: -webkit-calc(100% - 56px);
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.test {
  //
}

.MuiOutlinedInput-input {
  padding: 9.5px 14px;
}

.cursor-pointer {
  cursor: pointer;
}
