.cursorPointer {
  cursor: pointer;
}

.noOpacity {
  opacity: 0;
}
.button {
  // min-height: 40px;
  width: 300px;
  @media only screen and (max-width: 576px) {
    width: 250px;
    text-align: center;

  
  }
}
.popStyles {
  color: #0257a3;
}

@media only screen and (max-width:600px){
  .description{
    text-align: center;
  }
}
