.businessContainer {
  .otpCard {
    flex: 1;
    // height: 100%;
    //padding: 2rem 4rem;
    text-align: center;
    margin-top: 1.5rem;
    @media only screen and (max-width: 600px) {
      margin-top: 0px;
    }
    margin-bottom: 1.5rem;
    @media only screen and (max-width: 600px) {
      margin-bottom: 0px;
    }

    .iconColor {
      fill: #6e7a93;
      cursor: pointer;
    }

    .b2bLoginImage {
      width: 134.8px;
      height: 125px;
    }

    .title {
      color: #0257a3;
      text-align: center !important;
      font-size: 18px !important;
      font-weight: 600 !important;
    }

    .businessSubHeader {
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #354463;
    }
    .spanLabel {
      color: #354463;
      font-size: 14px;
    }

    .checkboxLabel {
      margin-top: -10px;
      color: #97a2a8;
      font-size: 14px;
    }

    .forgotPassword {
      color: #0257a3;
      cursor: pointer;
      font-size: 14px;
    }

    .divpadding {
      padding-top: 100px;
      @media only screen and (max-width: 600px) {
        padding-top: 20px;
      }
    }

    .Palignment {
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: 600px) {
        justify-content: start;
        align-items: flex-start;
      }
    }
    .BackToLginpLabel {
      color: #0257a3;
      cursor: pointer;
      font-weight: bold;
    }
    .selectionContainer {
      //margin-bottom: 30px;

      .card {
        width: 150px;
        height: 175px;
        border-radius: 4px;
        cursor: pointer;
      }
      .activeSelectionContainer {
        background-color: #daf5fd;
      }
      .inactiveSelectionContainer {
        background-color: white;
      }

      .imgContainer {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
      .activeImgContainer {
        background-color: white;
      }
      .inactiveImgContainer {
        background-color: #e9f9fe;
      }

      .businessLabel {
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: normal;
        text-align: left;
        color: #0466bf;
      }
    }

    .formContainer {
      width: 85%;
      text-align: center;

      .formLabel {
        font-size: 14px;
        font-weight: 600;
        text-align: left;
        color: #354463;
      }
    }

    .buttonContainer {
      // margin-top: 30%;
      .buttonStyle {
        width: 85%;
        height: 100%;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: 0.6px;
        text-align: center;
      }
      .inactiveButton {
        background-color: #eff1f6;
        color: #afb8bc;
      }
      .activeButton {
        background-color: #0369dd;
        color: white;
      }
    }

    .backToLabel {
      font-size: 12px;
      text-align: left;
      color: #354463;
      .signUpLabel {
        color: #0257a3;
        cursor: pointer;
        font-weight: bold;
      }
    }
  }
  .alertStyle {
    width: 40% !important;
    position: fixed;
    bottom: 35px;
    left: 30%;
    background-color: #a5efd9;
    color: #008e65;
    z-index: 9999;
    border-radius: 0px;
    .alertBackground {
      background-color: #a5efd9;
      color: #008e65;
    }
    .alertTitle {
      color: #008e65;
      font-size: 14px;
      font-weight: normal;
    }
  }
}
