// // Common across settings
.mainGridContainer {
  background-color: #fff;  
  display: flex;
  min-height: 100vh;
}
 
@media screen and (min-width: 768px) {
  .mainGridContainer {
    display: flex;
    // height: 100vh;
  }
  .contentContainer {
    padding-left: 40px;
  }
}

.mobileSideBar{
  display:block;
  @media (max-width: 600px) {
    display:none;
  }
}


.authorised {
  height: 27px;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #354463;
  // min-height: 100vh;
  @media (max-width: 600px) {
    font-size: 17px;
    // justify-content: space-between;
    // height: 42px;
    //
    
    
  }
}

$color-active-btn: #0369dd;
$color-inactive-btn: #eff1f6;

// .mainGridContainer {
//   // display: flex;
//   background-color: #f9fbff;
//   // padding: 0 !important;
// }


.mainCard {
position: relative;
// padding: 13px;
// height: 170px;
border-radius: 12px;
background-color: #3bb7cd;

.cardBg {
  width: 100%;
}
}



.backToMyProfile {
  cursor: pointer;
  // min-width: 50px;
}
.editIcon{
  margin-left: 20px;
}
.secDivider {
  height: 2px;
  // background-color: #cddae0;
//   width: 320px;
// height: 0;
margin: 16px 20px 0;
// border: solid 1.5px #cddae0;
}

// .headerDivider {
//   background-color: #ffffff00;
//   border: 0 none;
//   color:#ffffff00;
//   height: 2px;
//   margin: 12px 0;
// }


// .backToMyProfile {
//   cursor: pointer;
// }

.padTop{
  padding-top: 25px;
  // padding-left: 10px;
  // padding-right: 10px;
}

.actionBtns {
  float: right;
  margin-top: 40px;
}

@media screen and (max-width: 600px) {
  .actionBtns {
    float: none;
    display: flex;
    margin-top: 150px;
  }
  .actionBtns span{
    display: flex;
    width: 100%;
  }
  .actionBtns {
    margin-top: 70px;
  }
}
