.headerPaper {
  position: relative;
  box-shadow: 0 2px 20px 0 #eff1f6;
  // padding: 1rem 2rem;
  overflow-wrap: break-word;
  // @media (max-width: 600px) {
  //   padding: 1rem 2rem;
  // }
  .cursorPointer {
    cursor: pointer;
  }
}
